<div class="container text-center mt-5">
  <p>Jeulinser Mendez Sena</p>
  <p>Fecha nacimiento: 19/08/1990</p>
  <p>Perfil: Angular Frontend</p>
  <p>GitHub: <a href="https://github.com/jeulinsermendez/examen-starwars">Star Wars</a></p>
</div>
<div class="container mt-5">
  <ul>
    <li>
      Se han implementado Unit Tests en todo el proyecto, cumpliendo como requisito la cobertura del
      80% como recomendación de acuerdo con buenas practicas de desarrollo.
    </li>
    <li class="mb-2">
      Para implementar la caché sobre las peticiones a la api de Star Wars se ha utilizado el shareReplay (Rjxs) de Angular.
    </li>
    <li>
      Toda la gestión del registro / entrada de los usuarios se realizan gestionando la información en el localStorage del navegador.
    </li>
  </ul>

</div>
