<div>
  <pagination-controls (pageChange)="pageChange($event)"></pagination-controls>
  <button class="btn btn-primary m-2" (click)= "createShip()">Crear nave</button>
  <div class="container" *ngFor="let ship of (listShipsService.ships$ | async) | paginate: { itemsPerPage: 10, currentPage: currentPage, totalItems: listShipsService.totalItems }">
    <div class="btn pointer" (click)="editShip(ship)">
      <app-ship [ship]= "ship"></app-ship>

    </div>

  </div>
  <pagination-controls (pageChange)="pageChange($event)"></pagination-controls>
</div>
